@import "tailwindcss";


/* for allowing manually toggle of darkmode */
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-redhat: "Red Hat Display";
  --font-outfit: "Outfit";
}

/* for aliasing css names */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-redhat: var(--font-redhat);
  --font-outfit: var(--font-outfit);
}
/* for creating new tailwind styles */
@theme {

}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.font-redhat { font-family: var(--font-redhat); }
.font-elms { font-family: var(--font-elms); }
.font-outfit { font-family: var(--font-outfit); }
