@import "tailwindcss";


/* for allowing manually toggle of darkmode */
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-redhat: "Red Hat Display";
  --font-outfit: "Outfit";
}

/* for aliasing css names */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-redhat: var(--font-redhat);
  --font-outfit: var(--font-outfit);
}
/* for creating new tailwind styles */
@theme {
  --color-brand: oklch(0.723 0.219 150.24);
  --color-primary: oklch(0.15 0.015 150);
  --color-secondary: oklch(0.20 0.012 150);
  --color-tertiary: oklch(0.25 0.010 150);
  --color-border: oklch(0.30 0.010 150);
  --color-primary-text: oklch(0.98 0 0);
  --color-secondary-text: oklch(0.65 0.008 150);

  /* just in case you need it */
  --color-neutral-750: oklch(30.7% 0 0);
  --color-neutral-850: oklch(23.7% 0 0);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.font-redhat { font-family: var(--font-redhat); }
.font-elms { font-family: var(--font-elms); }
.font-outfit { font-family: var(--font-outfit); }
